<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>free-ssr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/free-ssr.css">
</head>
<body>
<table id="ssr">
    <tr><td colspan="3">抓取页面地址</td></tr>
    <tr v-clock v-for="(item, index) in items">
        <td colspan="3">{{item.URL}}</td>
    </tr>
    <tr>
        <td>成为贡献者</td>
        <td><input type="text" v-model="URL" placeholder="添加免费的ssr地址"></td>
        <td @click="addSSRAddress"><span >{{submit}}</span></td>
    </tr>
</table>
<script src="../js/free-ssr.js"></script>
</body>
</html>