body {
  background-color: red;
}
body {
  background-color: red;
}
body {
  background-color: yellow;
  font-size: 30px;
}
body .test {
  text-align: center;
  background: url("../img/koa-router1.png");
}
