body {
  -webkit-text-size-adjust: 100%;
}
.container {
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container img {
  display: block;
  margin: 0 auto;
}
.container p {
  text-align: center;
  font-size: 24px;
  color: #999;
}
.container form label {
  font-size: 24px;
  line-height: 40px;
  color: #999;
}
.container form input {
  -webkit-appearance: none;
  height: 20px;
  line-height: 40px;
  min-width: 300px;
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 20px;
  outline: none;
  box-shadow: 0 0 0 1000px #fff inset;
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}
.container form input::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 1.5em;
  color: #999;
}
.container form button {
  width: 200px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  background-color: #ddd;
  color: #333;
  margin-top: 30px;
  font-family: "宋体";
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.container .again {
  margin-left: -2em;
}
